*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.navigation {
    background: rgba(24, 24, 24, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: left 0.3s;
    width: 25%;
    z-index: 100;
    justify-content: space-between;
}

.navigation li,
.navigation li a {
    color: #fff;
    width: 100%;
    text-align: center;
    z-index: 101;
    transform: translateX(-3%);
    list-style: none;
}

.navigation li a {
    display: block;
    font-size: 25px;
    top: 10px;
    left: 100px;
    padding: 25px 10px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navigation li a:hover {
    color: #19cf97;
}

.navigation li a:hover::after {
    content: "";
    width: 15%;
    height: 2px;
    background: #19cf97;
    position: absolute;
    bottom: 0px;
    top: 60px;
    margin-left: calc(-14% - 20px);
    margin-right: auto;
    transition: all 0.3s ease-out;
}

.navigation li a:active::after
.navigation li a:active 
{
    color: #19cf97;
}

.toggle-button {
    display: inline-block;
    padding: 45px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    animation: fade-down 1s ease-in-out;
}

.toggle-button .wolverine {
    display: inline-block;
    height: 26px;
    padding: 0px 0px;
    cursor: pointer;
    -webkit-user-select: none;
    opacity: 0.97;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.toggle-button .wolverine span {
    display: inline-block;
    text-transform: uppercase;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-left: 0px;
    width: 0px;
    overflow: hidden;
}

.toggle-button .wolverine .claws {
    position: relative;
    top: -2px;
    width: 20px;
    height: 4px;
    background: rgb(255, 253, 253);
    display: inline-block;
}

.toggle-button .wolverine .claws:before,
.toggle-button .wolverine .claws:after {
    display: block;
    content: "";
    height: 4px;
    width: 20px;
    background: rgb(251, 251, 251);
    position: absolute;
    z-index: -1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s 0.2s, -webkit-transform 0.2s ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: all 0.1s 0.2s ease, -moz-transform 0.2s ease;
    -o-transition: all 0.1s 0.2s ease, -o-transform 0.2s ease;
    transition: all 0.1s 0.2s ease, transform 0.2s ease;
}

.toggle-button .wolverine .claws:before {
    top: 8px;
}

.toggle-button .wolverine .claws:after {
    top: -8px;
}

.nav-control {
    position: absolute;
    left: -9999px;
    width: 100%;
    clip: rect(0, 0, 0, 0);
}

.nav-control:checked ~ .navigation {
    left: 0;
    opacity: 1;
    transition: left 0.3s, opacity 0.3s;
}

.nav-control:checked ~ .navigation ul li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.nav-control:checked ~ .toggle-button .wolverine .claws {
    -webkit-transition: all 0.1s 0s;
    -webkit-transition-delay: ease;
    -moz-transition: all 0.1s 0s ease;
    -o-transition: all 0.1s 0s ease;
    transition: all 0.1s 0s ease;
    background: transparent !important;
    z-index: 101;
}

.nav-control:checked ~ .toggle-button .wolverine .claws:before,
.nav-control:checked ~ .toggle-button .wolverine .claws:after {
    background:#fff;
    -webkit-transition: all 0.1s ease, -webkit-transform 0.1s 0.2s;
    -webkit-transition-delay: 0s, ease;
    -moz-transition: all 0.1s ease, -moz-transform 0.1s 0.2s ease;
    -o-transition: all 0.1s ease, -o-transform 0.1s 0.2s ease;
    transition: all 0.1s ease, transform 0.1s 0.2s ease;
    top: 0;
    width: 20px;
}

.nav-control:checked ~ .toggle-button .wolverine .claws:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.nav-control:checked ~ .toggle-button .wolverine .claws:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

@keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
    }

    100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
    
  }